<div class="logo-mobile">
    <a href="/">
        <img src="/images/docker-icon.svg" alt="Docker Noob" title="Docker Noob" width="30" height="30" />
    </a>
</div>
<div class="search-form" id="search-div">
    <form class="search-form form-inline" id="searchForm" action="/search/" method="get">
        <label for="st-search-input" class="sr-only">Search</label>
        <input class="search-field form-control ds-input" id="st-search-input" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
        <div id="autocompleteResults"></div>
        <!-- <button type="submit" class="search-submit btn btn-default">Search</button> -->
    </form>
</div>
<div class="sidebar-toggle">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="nav-container hidden-sm hidden-xs">
    <div id="tabs">
        <ul class="tabs jsTOCHorizontal">
        {%- for entry in site.data.[site.active_lang].toc.horizontalnav -%}
          <li><a href="{{ entry.path }}" id="{{ entry.node }}">{{ entry.title }}</a></li>
        {%- endfor -%}
        </ul>
    </div>

    <div class="ctrl-right">

        {% for tongue in site.languages %}
        <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a>
            {% assign next = forloop.index | plus: 1 %}
            {% if forloop.last != true and site.languages[forloop.index] != site.active_lang or site.languages[forloop.index] == site.active_lang and next < forloop.length %}
            <span class="separator"> | </span>
            {% endif %}
        {% endfor %}

        <a href="" id="curLang"  name="{{ site.active_lang }}" hidden >{% if site.default_lang != site.active_lang %}{{site.active_lang}}{% endif %}</a>
        <a href="javascript:void(0)" id="menu-toggle" aria-label="Current page's menu toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
    </div>
</div>
